In [24]:
### 1. Import required libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [25]:
### 2. Load the dataset

df = pd.read_csv('cardata.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [26]:
### 3. Check the shape and basic information of the dataset.

df.shape

(301, 9)

In [27]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [28]:
### 4. Check for the presence of the duplicate records in the dataset? If present drop them

df[df.duplicated()]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
93,fortuner,2015,23.00,30.61,40000,Diesel,Dealer,Automatic,0

In [29]:
### dropping duplicate values

df.drop_duplicates(inplace=True)

In [30]:
df[df.duplicated()]

Empty DataFrame
Columns: [Car_Name, Year, Selling_Price, Present_Price, Kms_Driven, Fuel_Type, Seller_Type, Transmission, Owner]
Index: []

In [31]:
### 5. Drop the columns which you think redundant for the analysis.
df=df.drop(columns=['Car_Name'])

In [32]:
### 6. Extract a new feature called 'age_of_the_car' from the feature 'year' and drop the feature year
df['age_of_the_car']= 2023 - df['Year']

In [33]:
df=df.drop(columns=['Year'])

In [34]:
df.columns

Index(['Selling_Price', 'Present_Price', 'Kms_Driven', 'Fuel_Type',
       'Seller_Type', 'Transmission', 'Owner', 'age_of_the_car'],
      dtype='object')

In [35]:
### 7. Encode the categorical columns

df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [40]:
df['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [41]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [44]:
###Manual Encoding

df['Fuel_Type']= df['Fuel_Type'].replace({'Petrol':0, 'Diesel':1, 'CNG':2})

df['Seller_Type'] = df['Seller_Type'].replace({'Dealer':0, 'Individual':1})

df['Transmission'] = df['Transmission'].replace({'Manual':0, 'Automatic':1})

In [45]:
### 8. Separate the target and independent features.

## Lets store the target column in the Y variable and the rest of the columns in the X variable.

X = df.drop('Selling_Price',axis=1)
y = df['Selling_Price']

In [46]:
### 9. Split the data into train and test.

###Spliting the dataset into two parts (i.e. 70% train and 30% test)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

print(X_train.shape,X_test.shape)
print(y_train.shape,y_test.shape)

(209, 7) (90, 7)
(209,) (90,)

In [53]:
### 10. Build a Random forest Regressor model and check the r2-score for train and test.

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score 

rfc1 = RandomForestRegressor()

rfc1.fit(X_train, y_train)

RandomForestRegressor()

In [54]:
 ### Check the r2-scores for train and test

y_train_pred = rfc1.predict(X_train)
y_test_pred = rfc1.predict(X_test)

r2_train = r2_score(y_train,y_train_pred)
r2_test = r2_score(y_test,y_test_pred)

print('r2-score train : ', r2_train)
print('r2-score test : ', r2_test)

r2-score train :  0.9859733349240296
r2-score test :  0.9132155507940988

In [55]:
 ### 11. Create a pickle file with an extension as .pkl
    
 import pickle

# Saving model to disk

pickle.dump(rfc1, open('model.pkl' ,'wb'))

In [1]:
 !pip show scikit-learn

Name: scikit-learn
Version: 1.0.2
Summary: A set of python modules for machine learning and data mining
Home-page: http://scikit-learn.org
Author:
Author-email:
License: new BSD
Location: c:\users\mom\anaconda3\lib\site-packages
Requires: joblib, numpy, scipy, threadpoolctl
Required-by: scikit-learn-intelex